@tailwind base;
@tailwind components;
@tailwind utilities;

#app,
#root,
body,
html {
  height: 100%;
  margin: 0;
}
html {
  -webkit-text-size-adjust: 100%;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  background: #fff;
  color: #26221e;
  font-weight: 500;
}

body {
  box-sizing: border-box;
  cursor: default;
  font-family: Montserrat, DejaVu Sans, Verdana, sans‑serif;
  font-weight: 500;
}

*,
:after,
:before {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
